// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.customwellkai {
    border-color: black;
    background-color: #94573A;
}

.customwellkai2 {
    border-color: black;
    background-color: #53844A;
}